@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Vazir/Vazir-Light.woff2) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Vazir/Vazir-Regular.woff2) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/Vazir/Vazir-Medium.woff2) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/Vazir/Vazir-SemiBold.woff2) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Vazir/Vazir-Bold.woff2) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 800;
  src: url(../assets/fonts/Vazir/Vazir-ExtraBold.woff2) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 900;
  src: url(../assets/fonts/Vazir/Vazir-Black.woff2) format("truetype");
}
